<link rel="stylesheet" href="styles/partials/company.css">
</head>
<div class="company" id="company">
  <div class="company-wrapper">
    <div>
      <h1>We're a results driven team</h1>
      <p>It's our mission to make your every single family shopping an incredible experience.</p>
      <p>Just look at our CEO Harold. He's happy, right?</p>
      <p>Right???</p>
    </div>
    <div>
      <img src="images/harold.jpeg" alt="Happy Employee">
    </div>
  </div>
  <div class="personal-data-wrapper">
    <h1>We really care about your personal data</h1>
    <p>We definitely wouldn't steal them. That's a big no no!👀</p>
    <img src="images/personal-data.svg" alt="asd">
  </div>
</div>