</head>
<div class="hero">
  <h1>Making family shopping a pleasant experience</h1>
  <p>FamilyShoppingCart. is the best software platform to keep your family's shopping habits in order</p>
  <a href="/register">
    <button>
      Start Today
    </button>
  </a>
  <p>No credit card required</p>
  <img class="blob blob3" src="/images/blob3.svg" alt="">
</div>