<link rel="stylesheet" href="styles/partials/hero.css">
</head>
<div class="hero">
  <h1>Making family shopping a pleasant experience</h1>
  <p>FamilyShoppingCart. is the best software platform to keep your family's shopping in order</p>
  <button>Start Today</button>
  <p>No credit card required</p>
</div>