<%- include("../partials/head", {title:"Login"}) %>
<link rel="stylesheet" href="styles/authentication/login.css">
<script src="scripts/auth-styles.js" defer></script>
</head>
  <body>
    <header>
  <a href="/">
    <div class="logo">
      <span class="fas fa-shopping-basket fa-2x"></span>
      <span class="logo-text">FamilyShoppingCart.</span>
    </div>
  </a>
</header>
<main>
  <h1>Welcome Back!</h1>
    <% if (inputData) { %>
    <% if (inputData.hasError) { %>
     <p class="error-message">
       <%= inputData.message %>
     </p>
    <% } %>
  <% } %>
  <form action="/login" method="post">
    <div class="input-container">
      <input type="email" name="email" id="email" required>
      <label for="email">E-mail</label>
      <div class="border-1"></div>
    </div>
    <div class="input-container">
      <input type="password" name="password" id="password" required>
      <label for="password">Password</label>
      <div class="border-2"></div>
    </div>
    <div class="clear"></div>
    <button type="submit">Log In</button>
  </form>
  <img class="blob blob-1" src="images/blob2.svg" alt="">
  <img class="blob blob-2" src="images/blob3.svg" alt=""> 
</main>
  </body>
</html>
