<%- include("../partials/head", {title:"Login"}) %>
<link rel="stylesheet" href="styles/authentication/login.css">
</head>
  <body>
    <header>
  <a href="/">
    <div class="logo">
      <span class="fas fa-shopping-basket fa-2x"></span>
      <span class="logo-text">FamilyShoppingCart.</span>
    </div>
  </a>
</header>
<main>
  <form action="">
    <h1>Login</h1>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" id="passwowrd">
    <button>Submit</button>
    <p>Not registered yet? <a class="login-text" href="/register">Register!</a></p>
  </form>
  <img class="blob blob-1" src="images/blob2.svg" alt="">
  <img class="blob blob-2" src="images/blob3.svg" alt="">
</main>
  </body>
</html>
