<%- include("../partials/head", {title:"Register"}) %>
<link rel="stylesheet" href="styles/authentication/login-and-register.css">
<script src="scripts/input-styles-script.js" defer></script>
</head>
  <body>
    <header>
      <%- include("../partials/logo") %>
</header>
<main>
  <h1>Register</h1>
  <% if (inputData) { %>
    <% if (inputData.hasError) { %>
     <p class="error-message">
       <%= inputData.message %>
     </p>
    <% } %>
  <% } %>
  <form action="/register" method="post">
    <div class="input-container">
      <input type="text" name="familyName" id="familyName" required>
      <label for="familyName">Family's Name</label>
      <div class="border-1"></div>
    </div>
    <div class="input-container">
      <input type="email" name="email" id="email" required>
      <label for="email">E-mail</label>
      <div class="border-1"></div>
    </div>
    <div class="input-container">
      <input type="password" name="password" id="password" required minlength="8" maxlength="16">
      <label for="password">Password</label>
      <div class="border-2"></div>
    </div>
    <div class="input-container">
      <input type="password" name="repeatPassword" id="repeatPassword" required minlength="8" maxlength="16">
      <label for="repeatPassword">Repeat Password</label>
      <div class="border-2"></div>
    </div>
    <div class="clear"></div>
    <button type="submit">Log In</button>
  </form>
  <img class="blob" src="images/blob2.svg" alt="">
  <img class="blob" src="images/blob3.svg" alt=""> 
</main>
  </body>
</html>