<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title:"Main Page"}) %>
  <body>
    <header>
      <div class="logo">
        <span class="fas fa-shopping-basket fa-2x"></span>
        <span class="logo-text">FamilyShoppingCart.</span>
      </div>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Company</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </header>
  </body>
</html>
