<%- include("../partials/head", {title:"Dashboard"}) %>
<link rel="stylesheet" href="styles/errors/401.css">
</head>
  <body>
    <header>
  <a href="/">
    <div class="logo">
      <span class="fas fa-shopping-basket fa-2x"></span>
      <span class="logo-text">FamilyShoppingCart.</span>
    </div>
  </a>
</header>
<main>
  <h1>401</h1>
  <h2>No authorization found.</h2>
  <div>
    <p>This page is not publicly available.</p>
    <p>To access it, please, log in first.</p>
  </div>
  <a class="login-link" href="/login">
    Log In
  </a>
</main>
  <img class="blob blob-1" src="images/blob2.svg" alt="">
  <img class="blob blob-2" src="images/blob3.svg" alt=""> 
  </body>
</html>
