<%- include("../partials/head", {title:"404 Error"}) %>
<link rel="stylesheet" href="styles/errors/error-pages.css">
</head>
  <body>
    <header>
      <%- include("../partials/logo") %>
</header>
<main>
  <h1>404</h1>
  <h2>Oops</h2>
  <div>
    <p>Page not found.</p>
  </div>
  <a class="login-link" href="/">
    Back To Home
  </a>
</main>
  <img class="blob blob-1" src="images/blob2.svg" alt="">
  <img class="blob blob-2" src="images/blob3.svg" alt=""> 
  </body>
</html>
