<%- include("../partials/head", {title:"500 Error"}) %>
<link rel="stylesheet" href="styles/errors/error-pages.css">
</head>
  <body>
    <header>
      <%- include("../partials/logo") %>
</header>
<main>
  <h1>500</h1>
  <h2>Oops, that's our bad.</h2>
  <div>
    <p>We're not exactly sure what happened, but our servers say something is wrong.</p>
</main>
  <img class="blob blob-1" src="images/blob2.svg" alt="">
  <img class="blob blob-2" src="images/blob3.svg" alt=""> 
  </body>
</html>
