* {
  box-sizing: border-box;
}

.blob:nth-of-type(1) {
  left: 0%;
  top: 10%;
}

.blob:nth-of-type(2) {
  right: 0%;
  top: 40%;
}

.clear {
  clear: both;
}

.error-message {
  text-align: center;
  color: #cc0000;
  padding-bottom: 20px;
}

header {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}

main {
  width: 400px;
  margin: 2rem auto;
  background-color: var(--purple-color);
  padding: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main .border-1,
main .border-2 {
  position: absolute;
  height: 1px;
  background-color: var(--pink-color);
  left: 0;
  bottom: 0;
  width: 100%;
}

main .border-1::after,
main .border-1::before,
main .border-2::after,
main .border-2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

main .border-1::after,
main .border-2::after {
  right: 50%;
  background-color: #4cdffd;
}

main .border-1::before,
main .border-2::before {
  left: 50%;
  background-color: #4cdffd;
}

main form button[type="submit"] {
  background-color: var(--pink-color);
  font-family: inherit;
  font-size: 1rem;
  display: block;
  margin: 0 auto 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 15px 25px;
  border-radius: 25px;
}
main form button[type="submit"]:focus {
  outline: none;
}
main form button[type="submit"]:hover {
  animation: change-to-dark-text-color 0.2s linear forwards;
}

main h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 50px;
}

main .input-container {
  position: relative;
  margin: 0 50px 60px;
}

main .input-container:last-of-type {
  margin-bottom: 30px;
}

main .input-container input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 4rem;
  outline: none;
  color: var(--pink-color);
  font-size: 2rem;
  background: none;
  border: none;
}

main .input-container input:focus {
  outline: none;
}

main .input-container label {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  line-height: 40px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

main .input-container input:focus + label {
  margin-top: -30px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

main .input-container input:focus ~ .border-1::after,
main .input-container input:focus ~ .border-1::before,
main .input-container input:focus ~ .border-2::after,
main .input-container input:focus ~ .border-2::before {
  width: 50%;
}

@keyframes change-to-dark-text-color {
  0% {
  }
  100% {
    color: var(--dark-text-color);
  }
}
