/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-bg-color: #f8faff;
  --purple-color: #6a36ff;
  --dark-text-color: #2c3a59;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: var(--main-bg-color);
}

.fa-shopping-basket {
  vertical-align: middle;
  color: var(--purple-color);
}

.logo .logo-text {
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: bold;
  color: var(--dark-text-color);
}

header {
  width: 85%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

/* header ul li {
  padding: 0 65px;
} */