.delete-item-form {
  display: inline-block;
}

.delete-item-form button {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--pink-color);
}

.delete-item-form button:hover {
  cursor: pointer;
  color: #4CDFFD;
}

form a {
  top: 1rem;
  right: 1rem;
  position: absolute;
}

.form-container {
  width: 400px;
  background-color: var(--purple-color);
  padding: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-container h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 50px;
}

.form-container .input-container {
  position: relative;
  margin: 0 50px 60px;
}

.form-container .input-container:last-of-type {
  margin-bottom: 30px;
}

.form-container .input-container input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2rem;
  outline: none;
  color: var(--pink-color);
  font-size: 2rem;
  background: none;
  border: none;
}

.form-container .input-container input:focus {
  outline: none;
}

.form-container .input-container label {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  line-height: 40px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-container .input-container input:focus + label {
  margin-top: -30px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.form-container .border-1,
.form-container .border-2 {
  position: absolute;
  height: 1px;
  background-color: var(--pink-color);
  left: 0;
  bottom: 0;
  width: 100%;
}

.form-container .border-1::after,
.form-container .border-1::before,
.form-container .border-2::after,
.form-container .border-2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.form-container .border-1::after,
.form-container .border-2::after {
  right: 50%;
  background-color: #4cdffd;
}
.form-container .border-1::before,
.form-container .border-2::before {
  left: 50%;
  background-color: #4cdffd;
}
.form-container .input-container input:focus ~ .border-1::after,
.form-container .input-container input:focus ~ .border-1::before,
.form-container .input-container input:focus ~ .border-2::after,
.form-container .input-container input:focus ~ .border-2::before {
  width: 50%;
}

.form-container form button[type="submit"] {
  background-color: var(--pink-color);
  font-family: inherit;
  font-size: 1rem;
  display: block;
  margin: 0 auto 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 15px 25px;
  border-radius: 25px;
}
.form-container form button[type="submit"]:focus {
  outline: none;
}
.form-container form button[type="submit"]:hover {
  animation: turn-purple 0.2s linear forwards;
}

header {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}

.logout-link {
  padding: 5px 10px;
  background-color: var(--pink-color);
  border-radius: 5px;
  color: #fff;
}

.logout-link:hover {
  animation: turn-purple 0.2s linear forwards;
}

@keyframes turn-purple {
  0% {
  }
  100% {
    background-color: var(--purple-color);
  }
}

.logout-link:visited {
  color: #fff;
}

@keyframes turn-purple {
  0% {
  }
  100% {
    color: var(--dark-text-color);
  }
}

.error-message {
  text-align: center;
  color: #cc0000;
  padding-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shopping-list {
  width: 400px;
  background-color: var(--purple-color);
  padding: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shopping-list h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 50px;
}

.shopping-list li {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .form-container {
    /* margin-top: 3rem; */
    margin-bottom: 3rem;
  }
}
