.company {
  background-color: var(--pink-color);
  color: #fff;
  height: 100%;
  padding-top: 8rem;
}

.company-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.company div {
  flex: 1;
}

.company h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.company p {
  margin-top: 1.5rem;
}

.company img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.personal-data-wrapper {
  margin: 5rem auto;
  width: 50%;
  text-align: center;
}

.personal-data-wrapper img {
  margin: 3rem auto;
}

@media (max-width: 992px) {
    .company-wrapper {
      width: 85%;
      flex-direction: column;
    }

    .company-wrapper img {
      margin-top: 3rem;
    }

    .personal-data-wrapper {
      width: 85%;
    }
}