.fa-shopping-basket {
  vertical-align: middle;
  color: var(--pink-color);
}

.logo .logo-text {
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: bold;
  color: var(--dark-text-color);
}

header {
  width: 85%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: var(--dark-text-color);
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: var(--dark-text-color);
  cursor: pointer;
}

.nav-link:hover {
  animation: bottom-border 0.2s linear forwards;
}

@keyframes bottom-border {
  0% {
    padding-bottom: 1px;
    background: linear-gradient(
      to left,
      var(--pink-color),
      var(--purple-color)
    );
    background-size: 0% 2px;
    background-position: bottom 0 left 0, bottom 5px left 0;
    background-repeat: no-repeat;
  }
  100% {
    padding-bottom: 1px;
    background: linear-gradient(
      to left,
      var(--pink-color),
      var(--purple-color)
    );
    background-size: 100% 2px;
    background-position: bottom 0 left 0, bottom 5px left 0;
    background-repeat: no-repeat;
  }
}

.login-link {
  padding: 5px 10px;
  background-color: var(--pink-color);
  border-radius: 5px;
  color: #fff;
}

.login-link:hover {
  animation: turn-purple 0.2s linear forwards;
}

@keyframes turn-purple {
  0% {

  }
  100% {
    background-color: var(--purple-color);
  }
}

.login-link:visited {
  color: #fff;
}

@media (max-width: 992px) {
  header ul {
    display: none;
  }

  header {
    display: block;
    margin: 4rem auto;
    text-align: center;
  }

  .fa-shopping-basket {
    display: block;
  }
}
