.hero {
  margin: 8rem auto;
  text-align: center;
  width: 50%;
  height: 100%;
}

.hero h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
}

.hero p {
  max-width: 60%;
  margin: 1.5rem auto;
  color: var(--medium-text-color);
  line-height: 2rem;
}

.hero button {
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: var(--pink-color);
  padding: 15px 25px;
  border-radius: 5px;
}

.hero button:hover {
  animation: turn-purple 0.2s linear forwards;
}

@keyframes turn-purple {
  0% {
  }
  100% {
    background-color: var(--purple-color);
  }
}

.hero p:last-child {
  font-weight: lighter;
  color: var(--light-text-color);
}

@media (max-width: 992px) {
  .hero {
    width: 85%;
  }

  .hero p {
    max-width: 85%;
  }
}
