.pricing {
  margin: 8rem auto;
  text-align: center;
  width: 50%;
  height: 100%;
}

.pricing h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
}

.pricing-box {
  background-color: var(--purple-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  color: #fff;
  width: 400px;
  max-width: 250px;
  margin: 0 auto 2rem auto;
}

.pricing-box p:first-child {
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  padding-top: 2rem;
}

.pricing-box p:nth-child(2) {
  font-weight: bold;
  font-size: 5rem;
}

.pricing-box p:nth-child(3) {
  margin: 2rem 0 2rem 0;
  color: var(--light-text-color);
}

.pricing-box button {
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: var(--pink-color);
  padding: 15px 25px;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.pricing-box button:hover {
  animation: turn-purple 0.2s linear forwards;
}

@keyframes turn-purple {
  0% {
  }
  100% {
    color: var(--dark-text-color);
  }
}
